<h1>Flats (<%= @flats.count %>)</h1>
<div class="d-flex">
  <% @flats.each do |flat| %>
    <div class="p-2 m-3" style="width: 18rem;">
      <%= image_tag("", :alt => "rss feed") %>
      <div class="card-body">
        <h5 class="card-title"><%= flat.name %></h5>
        <p class="card-text"><%= flat.description %></p>
      </div>
    </div>
  <% end %>
</div>
